{% extends '::base.html.twig' %}

{% block mainContent %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Houston we have <strong>Contact...</strong></p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Cine esti?</label>
                        <input type="text" class="form-control" placeholder="Cine esti..." id="name" required data-validation-required-message="Scrie cum te cheama">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Adresa ta</label>
                        <input type="email" class="form-control" placeholder="Adresa ta...de eMail" id="email" required data-validation-required-message="Scrie adresa de eMail">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Detaliaza</label>
                        <textarea rows="5" class="form-control" placeholder="Detaliaza..." id="message" required data-validation-required-message="Scrie mesajul tau"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">Trimite</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>


{% endblock mainContent %}

