#footer {
	text-align: center;
	margin-top: 5%;
}
 .center {
     margin: 0 auto;
     width: 65%;
 }
img {
    width:100%;
}
.col-md-8 img {
    width: 100%;
}
.navbar-brand {
	max-width: 70px;
	max-height: 70px;
}
body {
	margin-top: 60px;
}

.bad_cred {
	float: right;
	color: red;
	font-size: 1.75em;
	text-align: right;
	margin: 1px;
	padding: 1%;
	-webkit-box-shadow: 1px 2px 37px 0px rgba(150,147,150,0.55);
	-moz-box-shadow: 1px 2px 37px 0px rgba(150,147,150,0.55);
	box-shadow: 1px 2px 37px 0px rgba(150,147,150,0.55);
}
@media (max-width: 768px) {
	.input-group {
		margin-bottom: 50px;
	}

}
@media (max-width: 1100px) {
	
	.jumbotron {
    	margin-top: 5%;
        padding: 4%;
	}
}

.padding-top-10 {
	padding-top: 10px;
}

