#footer {
	text-align: center;
	margin-top: 5%;
}
img {
    max-width:100%;
}
.col-md-8 img {
    width: 96%;
	height: 96%;
	border: 1px solid lightgrey;
	padding: 1%;
	margin: 2%;
}

.navbar-brand {
	max-width: 70px;
	max-height: 70px;
}
body {
	margin-top: 60px;
}

.modal-dialog {
	width: 70%;
	margin-left: 15%;

}

@media (min-width: 768px) {
#brand {
		margin-left: -60px;
	}}

@media (max-width: 768px) {
	.input-group {
		margin-bottom: 50px;
	}

}
@media (max-width: 1100px) {
	
	.jumbotron {
    	margin-top: 5%;
        padding: 4%;
	}
}

.padding-top-10 {
	padding-top: 10px;
}

#navigation {

}

.navbar-nav {
	font-size: 1em;
	color: black;
}
.bad_cred {
	float: right;
	color: red;
	font-size: 1.75em;
	text-align: right;
	margin: 1px;
	padding: 1%;
	-webkit-box-shadow: 1px 2px 37px 0px rgba(150,147,150,0.55);
	-moz-box-shadow: 1px 2px 37px 0px rgba(150,147,150,0.55);
	box-shadow: 1px 2px 37px 0px rgba(150,147,150,0.55);
}
.comment {
	padding-left: 0;
	list-style-type: none;
}
.comment li {
	padding: 1%;
	text-align: left;
	font-size: 1.45em;
	border: 1px solid lightgrey;
	border-radius: 1%;
	margin-bottom: 3%;
	-webkit-box-shadow: 7px 6px 5px -1px rgba(199,197,199,0.36);
	-moz-box-shadow: 7px 6px 5px -1px rgba(199,197,199,0.36);
	box-shadow: 7px 6px 5px -1px rgba(199,197,199,0.36);
}

#side_main {
	border-left: 2px solid black;
}
#side_main li {
	list-style-type: none;
	font-weight: bold;
	font-size: 1.25em;
}