{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="media-body">
            <p><strong>Title Title Title</strong></p>



        {% for data in data %}
            {{ data.id }}
            {{ data.data|raw }}
        {% endfor %}
            <p><em><strong>Scris maiastru in anul domnului: </strong></em></p>
        </div>
    </div>
{% endblock %}



