<div class="col-md-4">
    <div class="row">
        <div class="container-fluid">
            <div class="thumbnail">

                {% for articleSide in articles|sort|slice(0, 3) if articleSide.postCategory not in app.request.uri %}
                    <h4>Ultimele Articole {{ articleSide.postCategory|capitalize }} </h4>
                    <a href="{{ path('grunt', {'pagina' : articleSide.postCategory, 'id' : articleSide.id }) }}">
                    <div class="caption">
                        <p><em>{{ articleSide.postData|truncate(400, true)|raw }}</em></p>
                        <p><em><strong>Scris maiastru in anul domnului: {{ articleSide.ArticleDate|date('Y') }}</strong></em></p>
                        <button class="btn btn-info">Citeste mai departe...</button>
                    </div>
                     </a>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>